body {
    width: 100%;
    height: 100%;
}

svg {
    width: 2700px;
    height: 1000px;
}

.node {
    cursor: pointer;

    circle {
        fill: #fff;
        stroke: steelblue;
        stroke-width: 3px;

        &.negative {
            stroke: crimson;
        }
    }

    .commandment-text {
        font: 16px sans-serif;
        width: 20px;
        fill: black;
        -webkit-text-shadow: 1px 1px 2px silver;
        text-shadow: 1px 1px 2px gray;

        &.verse {
            fill: gray;
            font-style: italic;
        }
    }

    &.golden-command .commandment-text {
        fill: darkgoldenrod;
        -webkit-text-shadow: 1px 1px 1px silver;
        text-shadow: 1px 1px 1px silver;
        font: 17px sans-serif;
    }
}

.popover {
    min-width: 400px;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}
