
/*
  This file is used for all of your global styles and CSS variables.
  Check here https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties for more info on using CSS variables.
*/
html, body {
  font-family: var(--body-font);
  padding: 0;
  margin: 0;

  height: 100%;
}